<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Ärztehaus</h5>
        <p class="category"> Beispielszenario </p>
       
        
      </div>
     <!-- <div class="card-body" style="height: 400px; ">-->
       

        <div>
      <div class="map-container2">
          <div class="map-frame">
            <div id="map"></div>
          </div>
        </div> 

      </div>
      <div [hidden]="!circleDrawn" class="chart-container2" >
      <!--<div class="card-header " style="margin-left: 550px; ">-->
        <div style="margin-left: 550px;">
        <h5 class="title">Zeitz </h5>
        <p class="category"> Umkreis 2000m</p>

      </div>
       <!--<p class="card-category">
          Bevölkerung in 2000m Umkreis 
        </p> -->
     <!--</div>
      <div class="card-body " >-->




        <div  style="height: 300px; width: 400px;" >
      <canvas style="height: 50; width: 100; margin-left: 550px; " id="chartEmail"></canvas>
      </div>
    

    

      </div>

        <div class="info-div"> 

          

         <button *ngIf="hospitalBool" (click) = "drawCircle()"> Umkreissuche </button>
         
          <button *ngIf="hospitalBool" style="margin-left:10px;"  (click) = "calculateRoute(); "> Berechne Routen </button>
          <button *ngIf="hospitalBool" style="margin-left:10px;" (click) = "clearMarkers(); "> Lösche alle Marker </button> 
          <button *ngIf="hospitalBool" style="margin-left:10px;" (click) = "clearLayerOnDrag(); "> Lösche Routen </button> 
  

          <br>
          <br> 
    
          <h6 *ngFor="let marker of markers; let i = index" > 
            {{ myMarkers[i].title }} // 
            {{  marker.getLatLng().lat  | number:'1.0-4'  }} //
            {{ marker.getLatLng().lng | number:'1.0-4' }} // 
            {{ myMarkers[i].distance }} // 
            {{  myMarkers[i].duration * 1000 | date:'mm:ss' }} (min:ss)
          </h6>
          <div *ngIf = "durationSum" style="border-top: 2px black solid;"> 
            <h6> Planung 1 </h6>
          <h6  > Durchschnittszeit:       {{ ( durationSum / (myMarkers.length - 1 )) * 1000 | date:'mm:ss'  }}(min:ss) </h6>
          <h6> Durchschnittsentfernung: {{ ( distanceSum  / (myMarkers.length - 1 ) ) / 1000 | number:'1.0-4' }} KM</h6>
          </div>
        </div>



      
      </div>
     
   
    </div>
    
  </div>

